In [1]:
import pandas as pd

In [22]:
excel_file='20200512.xlsx'
raw=pd.read_excel(io=excel_file, sheet_name=2)

In [24]:
# Drop columns
dropped=raw.drop(columns=['CaseCode','Age','AgeGroup','DateDied','DateRecover','Sex','DateRepRem','DateRepConf','Admitted','Quarantined','HealthStatus'])
# Remame columns
renamed=dropped.rename(columns={'RemovalType':'removal_type','RegionRes':'region','ProvRes':'province','CityMunRes':'city_municipality','CityMuniPSGC':'location_code'})

In [47]:
# This section will extract the codes and create a mapping

In [52]:
uniques=renamed.drop_duplicates(subset='location_code')
uniques.dropna(subset=['location_code'], inplace=True)

In [51]:
region_codes=pd.DataFrame()
region_codes['code']=uniques['location_code'].str[2:4]
region_codes['name']=uniques['region']
region_codes.drop_duplicates(subset='code', inplace=True)
region_codes.set_index('code', inplace=True)
region_codes.sort_index()

                                name
code
01           Region I: Ilocos Region
02         Region II: Cagayan Valley
03         Region III: Central Luzon
04           Region IV-A: CALABARZON
05            Region V: Bicol Region
06        Region VI: Western Visayas
07       Region VII: Central Visayas
08      Region VIII: Eastern Visayas
09    Region IX: Zamboanga Peninsula
10       Region X: Northern Mindanao
11           Region XI: Davao Region
12          Region XII: SOCCSKSARGEN
13                               NCR
14                               CAR
15                             BARMM
16                            CARAGA
17             Region IV-B: MIMAROPA

In [55]:
province_codes=pd.DataFrame()
province_codes['code']=uniques['location_code'].str[2:4]
province_codes['name']=uniques['province']
province_codes.drop_duplicates(subset='code', inplace=True)
province_codes.set_index('code', inplace=True)
province_codes.sort_index()

                   name
code
01           PANGASINAN
02              CAGAYAN
03             PAMPANGA
04               LAGUNA
05                ALBAY
06              ANTIQUE
07        CEBU PROVINCE
08                SAMAR
09    ZAMBOANGA DEL SUR
10     MISAMIS ORIENTAL
11        DAVAO DEL SUR
12             COTABATO
13                  NCR
14              BENGUET
15        LANAO DEL SUR
16     AGUSAN DEL NORTE
17              PALAWAN

In [57]:
city_municipality_codes=pd.DataFrame()
city_municipality_codes['code']=uniques['location_code'].str[2:4]
city_municipality_codes['name']=uniques['city_municipality']
city_municipality_codes.drop_duplicates(subset='code', inplace=True)
city_municipality_codes.set_index('code', inplace=True)
city_municipality_codes.sort_index()

                                name
code
01                   SAN CARLOS CITY
02         TUGUEGARAO CITY (CAPITAL)
03                           CANDABA
04                 CITY OF SAN PEDRO
05            LEGAZPI CITY (CAPITAL)
06                            CALUYA
07               CEBU CITY (CAPITAL)
08                         TARANGNAN
09                    ZAMBOANGA CITY
10     CAGAYAN DE ORO CITY (CAPITAL)
11                        DAVAO CITY
12                     COTABATO CITY
13                 CITY OF PARAÑAQUE
14                       BAGUIO CITY
15             MARAWI CITY (CAPITAL)
16             BUTUAN CITY (CAPITAL)
17    PUERTO PRINCESA CITY (CAPITAL)