In [1]:
import pandas as pd

In [22]:
excel_file='20200512.xlsx'
raw=pd.read_excel(io=excel_file, sheet_name=2)

In [24]:
# Drop columns
dropped=raw.drop(columns=['CaseCode','Age','AgeGroup','DateDied','DateRecover','Sex','DateRepRem','DateRepConf','Admitted','Quarantined','HealthStatus'])
# Remame columns
renamed=dropped.rename(columns={'RemovalType':'removal_type','RegionRes':'region','ProvRes':'province','CityMunRes':'city_municipality','CityMuniPSGC':'location_code'})

In [47]:
# This section will extract the codes and create a mapping

In [52]:
uniques=renamed.drop_duplicates(subset='location_code')
uniques.dropna(subset=['location_code'], inplace=True)

In [51]:
region_codes=pd.DataFrame()
region_codes['code']=uniques['location_code'].str[2:4]
region_codes['name']=uniques['region']
region_codes.drop_duplicates(subset='code', inplace=True)
region_codes.set_index('code', inplace=True)
region_codes.sort_index()

                                name
code
01           Region I: Ilocos Region
02         Region II: Cagayan Valley
03         Region III: Central Luzon
04           Region IV-A: CALABARZON
05            Region V: Bicol Region
06        Region VI: Western Visayas
07       Region VII: Central Visayas
08      Region VIII: Eastern Visayas
09    Region IX: Zamboanga Peninsula
10       Region X: Northern Mindanao
11           Region XI: Davao Region
12          Region XII: SOCCSKSARGEN
13                               NCR
14                               CAR
15                             BARMM
16                            CARAGA
17             Region IV-B: MIMAROPA

In [58]:
province_codes=pd.DataFrame()
province_codes['code']=uniques['location_code'].str[4:6]
province_codes['name']=uniques['province']
province_codes.drop_duplicates(subset='code', inplace=True)
province_codes.set_index('code', inplace=True)
province_codes.sort_index()

                   name
code
01                 ABRA
02     AGUSAN DEL NORTE
04                AKLAN
05                ALBAY
06              ANTIQUE
...                 ...
76                  NCR
79             GUIMARAS
82    COMPOSTELA VALLEY
86     DAVAO OCCIDENTAL
98             COTABATO

[65 rows x 1 columns]

In [59]:
city_municipality_codes=pd.DataFrame()
city_municipality_codes['code']=uniques['location_code'].str[6:8]
city_municipality_codes['name']=uniques['city_municipality']
city_municipality_codes.drop_duplicates(subset='code', inplace=True)
city_municipality_codes.set_index('code', inplace=True)
city_municipality_codes.sort_index()

                                name
code
00                    CITY OF MANILA
01               CITY OF MANDALUYONG
02                    CITY OF MAKATI
03                     CITY OF PASIG
04                 CITY OF PARAÑAQUE
05                        PASAY CITY
06                    CITY OF MANILA
07                           CALAUAG
08                         GUIGUINTO
09                         IMUS CITY
10                    CITY OF MANILA
11                         SAN MATEO
12                    CITY OF MANILA
13                            TAYTAY
14                         LIPA CITY
15                             PORAC
16    PUERTO PRINCESA CITY (CAPITAL)
17               CEBU CITY (CAPITAL)
18                      DAGUPAN CITY
19           CITY OF TAGUM (CAPITAL)
20        CITY OF SAN JOSE DEL MONTE
21                        SAN MIGUEL
22                              PILA
23                       SANTA MARIA
24                    SAN PABLO CITY
25                 CITY OF SAN PEDRO
26             LAPU-LAPU CITY (OPON)
27                      SAN LEONARDO
28                CITY OF SANTA ROSA
29         TUGUEGARAO CITY (CAPITAL)
30                            MIAGAO
31                   CITY OF TANAUAN
32                   SAN CARLOS CITY
33                           PANGLAO
34                      CITY OF NAGA
35                  CITY OF SANTIAGO
36                            TIGAON
38                              REAL
39                          SAMPALOC
40                       SANTO TOMAS
45                           SARIAYA
46                  CITY OF URDANETA
47                   CITY OF TAYABAS
48                            TIAONG
49                            UNISAN
50                   CITY OF TALISAY